*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}
html {
  forced-color-adjust: none;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
