@font-face {
  font-family: "graphieBold";
  src: url("../assets/fonts/graphie-Bold.otf");
}
@font-face {
  font-family: "graphieSemiBold";
  src: url("../assets/fonts/graphie-SemiBold.otf");
}
@font-face {
  font-family: "graphieBook";
  src: url("../assets/fonts/graphie-Book.otf");
}
