// fonts
$font-main: "Graphie", sans-serif;

// font-weights
$fontWeight-regular: 400;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;

// font-sizes
$fontSize-xs: 0.75rem;
$fontSize-s: 0.875rem;
$fontSize-m: 1rem;
$fontSize-l: 1.375rem;
$fontSize-xl: 1.5rem;
$fontSize-xxl: 2rem;

// colors
$color-white: #edf3ff;
$color-darkBlue: #0a082e;

$color-lightBlue: #00bcd4;
$color-ripple: #73e3f2;

$color-red: #ff7043;
$color-red-hover: #ff8a65;

// breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1280px;
