@use "../settings/variables" as var;
@use "../settings/mixins" as mix;

.contact {
  height: 100vh;
  width: 100%;
  @include mix.flex($direction: column);

  &_spacerTop {
    min-height: 80px;
  }

  &_copyright {
    margin-top: auto;
    @include mix.text;
    font-size: var.$fontSize-xs;
  }

  &_inner {
    width: 100%;
    @include mix.flex($direction: column);
    gap: 40px;
  }

  &_title {
    @include mix.secondTitle;
    text-transform: uppercase;
    text-decoration: underline;
  }

  &_subInner {
    width: 100%;
    max-width: 400px;
    @include mix.flex($direction: column);
    gap: 30px;

    background-color: rgba(var.$color-white, 0.15);
    border: 1px solid rgba(var.$color-white, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

    padding: 40px;
  }

  &_text {
    @include mix.text;
    width: 300px;
    text-align: center;
  }

  &_img {
    height: 120px;
    width: 120px;
  }

  &_btn {
    @include mix.cta-red;
  }
}
