@use "../settings/variables" as var;
@use "../settings/mixins" as mix;

.hero {
  min-height: 100vh;
  // min-height: 100dvh;

  width: 100%;
  @include mix.flex($direction: column, $justify: flex-start);

  &_spacer {
    flex: 1;

    &.top {
      min-height: 80px;
    }

    &.bottom {
      min-height: 10px;
    }
  }

  &_inner {
    flex: 1;
    max-height: 700px;

    @include mix.flex($direction: column, $justify: space-around);
  }

  // persona
  &_persona {
    @include mix.flex($direction: column);
    gap: 15px;

    img {
      width: 170px;
      height: 170px;

      @media (max-height: 600px) {
        display: none;
      }
    }

    h1 {
      @include mix.mainTitle;
    }
  }

  &_job {
    @include mix.secondTitle;
  }

  &_motive {
    @include mix.describe;
  }

  // medias
  &_medias {
    @include mix.flex;
    gap: 40px;

    position: relative;

    &::after {
      content: "";

      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);

      display: block;
      width: 130%;
      height: 3px;

      background-color: var.$color-white;
    }
  }

  &_link {
    width: 50px;
    height: 50px;

    @include mix.flex;

    transform: scale(1);
    transition: transform ease 0.1s;

    &:hover {
      transform: scale(1.15);
    }
  }

  &_linkCV {
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: var.$color-white;
    color: var.$color-darkBlue;
  }

  // button
  &_btn {
    @include mix.cta-red;
    text-transform: uppercase;
  }
}
