@use "../settings/variables" as var;
@use "../settings/mixins" as mix;

// Container
.projects {
  min-height: auto;
  width: 100%;
  max-width: 1200px;
  @include mix.flex($direction: column);
  gap: 40px;
  margin: 0 auto;

  &_spacer {
    flex: 1;

    &.top {
      min-height: 80px;
    }
    &.bottom {
      min-height: 10px;
    }
  }

  &_inner {
    @include mix.flex($direction: column);
    gap: 80px;

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: stretch;
      gap: 60px;
    }
  }

  &_title {
    @include mix.secondTitle;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

// Project
.project {
  @include mix.flex(
    $direction: column,
    $justify: space-between,
    $align: flex-start
  );
  gap: 40px;
  padding: 20px;
  border-top: 2px solid rgba(var.$color-white, 0.4);
  border-bottom: 2px solid rgba(var.$color-white, 0.4);
  width: 100%;
  max-width: 600px;

  &_description {
    width: 100%;
    @include mix.flex($direction: column, $justify: space-between);
    gap: 20px;
  }

  &_date {
    @include mix.date;
    padding: 2px 8px;
    border: 2px solid var.$color-lightBlue;
    border-radius: 8px;
    align-self: flex-start;
  }

  &_titleInner {
    width: 100%;
    @include mix.flex($direction: column, $align: flex-start);
  }

  &_title {
    @include mix.projectTitle;
  }

  &_icons {
    @include mix.flex;
    gap: 10px;
    height: 40px;
  }

  &_img {
    width: 90%;
    border-radius: 10px;
  }

  &_textInner {
    @include mix.flex($direction: column);
    gap: 10px;
  }

  &_text {
    @include mix.text;
  }

  &_btnInner {
    width: 100%;
    @include mix.flex($direction: column, $justify: center, $align: center);
    gap: 20px;
    margin-top: auto;
    align-self: flex-end;
  }

  &_redBtn {
    @include mix.cta-red;
    margin-top: 30px;
  }
  &_blueBtn {
    @include mix.cta-blue;
  }
}
