@use "../settings/variables" as var;
@use "../settings//mixins" as mix;

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.skills {
  position: relative;
  z-index: 1;

  min-height: 100vh;
  width: 100%;

  @include mix.flex($direction: column, $justify: flex-start);

  &_spacer {
    flex: 1;

    &.top {
      min-height: 80px;
    }

    &.bottom {
      min-height: 10px;
    }
  }

  &_inner {
    flex: 1;

    width: 100%;
    max-width: 600px;
    max-height: 800px;

    padding: 10px;

    @include mix.flex($direction: column, $justify: space-between);

    background-color: rgba(var.$color-white, 0.15);
    border: 1px solid rgba(var.$color-white, 0.2);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    @media (max-height: 600px) {
      justify-content: center;
    }
  }

  // background
  &_bg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;

    width: 50%;
    max-width: 300px;

    opacity: 0.1;
    pointer-events: none;

    transform: translate(-50%, -50%);
    animation: rotate 40s linear infinite;
  }

  // about
  &_about {
    width: 100%;

    @include mix.flex($direction: column, $align: flex-start);

    @media (max-height: 600px) {
      display: none;
    }
  }

  &_titleInner {
    width: 100%;

    @include mix.flex;

    margin-bottom: 20px;
  }

  &_title {
    @include mix.aboutTitle;
  }

  &_line {
    height: 2px;

    flex-grow: 1;
    margin-left: 10px;

    background-color: var.$color-white;
    opacity: 0.4;
  }

  &_details {
    @include mix.text;
  }

  // list
  &_list {
    width: 100%;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "stack design"
      "stack langues";

    gap: 20px;
  }

  &_stack {
    grid-area: stack;
  }

  &_design {
    grid-area: design;
  }

  &_languages {
    grid-area: langues;

    align-self: end;
  }

  &_stackIcons {
    width: 100%;

    @include mix.flex($direction: column, $justify: center);

    gap: 20px;
  }

  &_stackSubDiv {
    width: 100%;

    @include mix.flex;

    gap: 40px;
  }

  &_flag {
    @include mix.flex($direction: column);

    .level {
      @include mix.text;
      text-indent: 0;
    }
  }
}
